/*Desktop Sidebad Starts here*/

.sidenav {
  height: 100%;
  position: fixed; 
  z-index: 1; 
  left: 0;
  background-color: rgb(14,26,52);
  overflow-x: hidden; 
  padding-top: 20px;
  
}
#list{
    list-style: none;
    font-size: 20px;
}
.sidenav a {
  text-decoration: none;
  color: white;
  display: block;
  font-size: 17px;
  font-weight: 500;
  padding: 28px 20px;
  margin-left: -40px;
  border-bottom: 1px solid #0d172e;
  border-top: 1px solid #0d172e;
  color: #ffffff;
  padding-right: 50px;

}
.sidenav i {
    margin-right: 15px;
    color: #5584ff;
}
.sidenav .active a {
    background: #122143;
    border-left: 5px solid #5584ff;
    padding-left: 15px;
}
.sidenav a:hover {
    background: #122143 none repeat scroll 0 0;
    border-left: 5px solid #5584ff;
    display: block;
    padding-left: 15px;
}

/*Desktop Sidebad Ends here*/


/*Medium Sidebad Starts here*/
@media screen and (max-width:1199px) {
  #list{
      font-size: 17px;
  }
  .sidenav a {
    font-size: 15px;
    padding: 28px 10px;
  }   
}

/*Medium Sidebad Ends here*/

/*Small Sidebad Starts here*/

@media screen and (max-width:767px) {
  #list{
      font-size: 23px;
  }
  #list a{
      font-size: 0px;
  }
  .sidenav a {
    padding: 28px 20px;
  }
}

/*Small Sidebad Ends here*/

/*Mobile Sidebar Starts here*/
@media screen and (max-width:575px) {
  #list{
      font-size: 20px;
  }
  .sidenav a {
    padding: 24px 0px;
  }
  .sidenav i {
      margin-left: 10px;
  }
}

/*Mobile Sidebar Ends here*/


/*Main Page Start*/

#manage1{
    color: #0e1a35;
    font-size: 30px;
    display: inline-block;
    margin-left: 260px;
    margin-right: 20px;
}
#main {
  margin-left: 170px;
  padding: 20px 90px;
}


@media screen and (max-width:1199px) {
  #manage1{
    margin-left: 240px;
  }
  #main {
    margin-left: 150px;
  }
  
}

@media screen and (max-width:991px) {
  #manage1{
    font-size: 25px;
    margin-left: 190px;
  }
  #main {
    margin-left: 100px;
    padding: 40px 90px;
  }
  
}

@media screen and (max-width:767px) {
  #manage1{
    font-size: 20px;
    margin-left: 140px;
  }
  #main{
    margin-left: 80px;
    padding: 40px 90px;
  } 
  
}

@media screen and (max-width:575px) {
  #manage1{
    margin-left: 65px;
    margin-right: 0px;
  }
  #main {
    padding: 40px 20px;
  }
  
}

/*Main Page End*/

